
@{
    ViewBag.Title = "Hoàn thành thanh toán";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container d-flex flex-column justify-content-center" style="min-height: 515px;">
    <div class="text-center">
        <i class="fa fa-check-square" style="font-size: 80px;margin-bottom: 20px;color:springgreen;"></i>
        <h6 class="text-success">Đặt hàng thành công</h6>
        <p style="margin:3px">Mã đơn hàng của bạn: @ViewBag.DonHangID</p>
        <p>Cừa hàng sẽ cho nhân viện liên hệ với bạn sớm nhất</p>
    </div>
</div>

