<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <hgroup>
        <h1>Lỗi rồi.</h1>
        <h2>Bạn đã xảy ra một sự cố.</h2>
    </hgroup>
</body>
</html>
